@model ChangePasswordViewModel

@{
    ViewData["Title"] = "修改口令";
}

@if (Model.UserId == 0)
{
    <div class="alert alert-danger">
        没有指定要修改口令的用户
    </div>
}
else
{
    <h5>修改口令</h5>

    <form role="form" method="POST" style="width: 480px; margin-top:20px;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(m => m.UserId)
        <div class="form-group row">
            <label asp-for="Login" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Login" readonly class="form-control-plaintext">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Name" readonly class="form-control-plaintext">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="OldPassword" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="OldPassword" class="form-control" placeholder="输入旧口令">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="NewPassword" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="NewPassword" class="form-control" placeholder="符合强密码的新口令">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ConfirmPassword" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="再输入一遍新口令">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 offset-sm-3">
                <button asp-action="ChangePassword" class="btn btn-success">提交修改</button>
            </div>
        </div>
    </form>
}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}