
@{
    ViewData["Title"] = "看板";
}

<div class="card">
    <div class="card-header">
        <a class="float-right btn btn-sm btn-link m-0 p-0" asp-action="Help">如何使用?</a>
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index">任务</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Terms">条款</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-action="Dashboard">看板</a>
            </li>
        </ul>
    </div>
    <div class="card-body p-2">

    </div>
</div>
