
@{
    ViewData["Title"] = "帮助";
}
<div class="alert alert-info bg-light small">
    <h5 class="text-center">使用任务和条款功能</h5>
    <hr />
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title text-center">任务功能</h6>
                <ul>
                    <li>点击“首页”——“任务”打开“任务页面”</li>
                    <li>可以按“单位”查看该单位所属项目在指定月份的任务计划和完成情况</li>
                    <li>
                        有两个任务卡片
                        <ul>
                            <li>左：“计划进行”指在选定月份，单位各项目部安排了哪些与结算和收款有关的计划</li>
                            <li>右：“实际发生”指在选定月份，单位各项目部执行了哪些跟结算和收款有关的实际行动</li>
                        </ul>
                    </li>
                    <li>任务是按照项目进行归类的，同时在项目卡片中显示了每个项目当月的两金计划和完成值</li>
                    <li>通过跟踪检查这些任务可以了解各单位为两金压降制订了那些工作计划，并督促他们及时开展相关工作</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h6 class="card-title text-center">条款功能</h6>
                <ul>
                    <li>点击“首页”——“条款”打开“条款页面”</li>
                    <li>可以按“单位”对所属项目进行筛选，也可以直接根据“项目名称”进行模糊查询</li>
                    <li>每个项目显示在一个卡片里，卡片的边框颜色可直观呈现项目的停工、涉诉状态</li>
                    <li>
                        每个项目卡片横向分三个区域：
                        <ul>
                            <li>左：项目合同中的条款，条款涉及的金额，和最乐观的到达日期</li>
                            <li>中：根据该条款，项目部在每月两金计划中填写的计划任务</li>
                            <li>右：根据该条款，项目部在每月两金数据填报时填写的实际执行情况</li>
                        </ul>
                    </li>
                    <li>把鼠标悬停在中间和右边的年月标签上，可以显示出该月份的两金计划值或月报值</li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-primary bg-light small">
    <h5 class="text-center">使用方法</h5>
    <hr />
    <ol>
        <li>首先要为项目添加合同条款（因为任务和行动都是与合同条款关联的）
            <ul>
                <li>在“项目管理”页面中找到一个项目，点击最右侧的“管理”按钮，打开项目信息管理页面</li>
                <li>在页面下半部分的“结算条件”、“回款条件”、“综合付款条件”中添加或修改合同条款</li>
            </ul>
        </li>
        <li>在项目月度两金计划中添加任务
            <ul>
                <li>在“计划管理”页面中，找到要添加计划任务的项目，可以看见右面的月份数据都是可点击的超级链接</li>
                <li>在项目-月份的交叉单元格中，点击任何一个数值，可以打开该月份的计划任务制订页面</li>
                <li>也可以在“计划管理”页面中，点击要编写的项目名称，打开项目年度两金压降计划页，然后点击左侧的某个月份，也可进入计划任务制订页面</li>
                <li>在“计划任务制订页面”的上面两侧有“上个月”、“下个月”链接，点击可漫游到相邻月份，便于联系操作</li>
                <li>在“计划任务制订页面”的中间，可以修改该月份的计划值，包括“收入”、“结算”和“回款”</li>
                <li>在“计划任务制订页面”的下部，点击“添加新任务”可以根据登记的合同条款编写任务（在弹出框中选择一个条款，然后写入任务摘要，点击“保存任务”）</li>
                <li>在“计划任务制订页面”下部“合同条款依据与任务”中列出了已经编制好的任务列表，点击任务右侧的“修改任务”可以打开弹出框对任务进行修改</li>
            </ul>            
        </li>
        <li>编制好的任务，就会成为当月的计划进行，显示在首页-“任务”页面或首页-“条款”页面中</li>
        <li>
            在项目两金月报中填写执行情况
            <ul>
                <li>在“月报管理”页面中，找到要填写月报的项目，可以看见右面的月份数据都是可点击的超级链接（如果尚未填报会有一个“填报”按钮）</li>
                <li>在打开的“月报填写”页面中，左侧卡片用于填写该月实际完成的两金值（收入、结算和回款）</li>
                <li>右侧是添加任务执行情况的卡片，<strong>注意：必须首先填写并保存了当月的两金值后才能添加完成情况</strong></li>
                <li>
                    有两种添加完成情况的方法：
                    <ul>
                        <li>如果实际执行的就是计划任务，那么可以点击卡片上侧的执行（Do&raquo;）可以根据该计划任务快速填写执行情况</li>
                        <li>如果实际执行的是计划外的事情，那么点击“添加完成情况条目”，在弹出框中选择条款，填写摘要后保存即可</li>
                    </ul>
                </li>
            </ul>            
        </li>
        <li>填写了的执行情况，会成为当月的实际发生，显示在首页-“任务”页面或首页-“条款”页面中</li>
    </ol>
</div>